@import url('https://fonts.googleapis.com/css2?family=VT323&family=Zen+Antique+Soft&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(banner.jpg);
    background-size: cover;
    background-position: right;
    background: center;

}
